{% extends 'layout.html' %}

{% block content %}
<style>
html, body{
    height: 100%;
}
main{
    margin-top: 33%;
}
</style>

<main>
    <h1>Plugin Hub Info</h1>
    <p class="lead">
        This website consolidates <a href="https://runelite.net/plugin-hub" target="_blank">RuneLite Plugin Hub</a> stats
        to provides an API for generating <a href="https://shields.io" target="_blank">README Shields using shields.io</a>.
        This website and its content are not officially affiliated with or endorsed by <a href="https://runelite.net" target="_blank">RuneLite</a>.
    </p>
    <a type="button" class="btn btn-dark" href="/api/docs" target="_blank">Read the API Docs</a>
</main>
{% endblock %}
